[Desktop Entry]
Name=AutoFirma
Type=Application
Terminal=false
Categories=Office;Utility;Java
Exec=/usr/bin/autofirma %u
Icon=/usr/share/autofirma/autofirma.png
GenericName=Herramienta de firma
MimeType=x-scheme-handler/afirma;
StartupNotify=false
StartupWMClass=autofirma
Name[es_ES]=AutoFirma
